/* CSS3 Animations*/
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
 
/* Portfolio Image Styling */
img {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
}

img:hover {
  filter: none;
  -webkit-filter: grayscale(0%);
}

/* Page-wide text formatting */

h1, h3, p {
  font-family: 'Arapey', serif;
}

p {
  font-size: 1.2em;
}

h2 {
  font-family: 'Arapey', serif;
  text-transform: uppercase;
  letter-spacing: .1em;
}


/* Name and Title Header */
.masthead {
  padding: 6em 0;
  background-image: url("http://i59.tinypic.com/30arw3t.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-top: 1em solid #000000;
}

.masthead .container {
  text-align: right;
  background-color: rgba(0, 0, 0, 0.5);
  padding-top: 2em;
  width: auto;
}

.masthead-heading {
  margin-top: -0.2em;
  font-size:6.0em;
  color: #FFFFFF;
  font-weight: normal;
  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
}


.gray { color: #bdbdbd; }

.masthead .container .text {
  margin-right: 2em;
}


.masthead-description {
  margin-bottom: 0.5em;
  margin-top: -.7em;
  margin-right: 2em;
  vertical-align: middle;
  font-size: 3em;
  letter-spacing: .2em;
  text-transform: uppercase;
  color: #ffffff;
  font-family: 'Nunito', sans-serif;
  text-align: right;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
  }


/* About Me */

.container .about-me{
  margin-top: 5em;
  margin-bottom: 3em;
}


/* Porfolio */

.portfolio h1 {
  margin-bottom: .6em;
}


.thumbnail h3 {
  letter-spacing: .2em;
}


.thumbnail .caption {
  text-align: center;
}


.thumbnail .description {
  margin-bottom: 2em;
}

/* Adjusing HTT thumbnail to make even with the Karma thumbnail */

.thumbnail .caption .hack {
  margin-top: 5.2em;
}


.container .on-the-web h2 {
  text-align: center;
}

/* Find me on the web */

.social {
  text-align: center;
}

.social li {
  display: inline-block;
  font-size: 4em;
  letter-spacing: 2em;
  margin-top: .2em;
}


.social .fa {
  color: #000000;
}

.social .fa:hover {
  color: #8F8FB2;
}

/* button styling */
.btn-primary {
    background: #000000;
    color: #ffffff;
    border-radius: 0;
}

 
.btn-primary:hover {
    background: #666680;
}
 

/* header responsiveness */
@media only screen and (max-width: 500px) {
    .masthead {
        padding: 3em 0;
    }
  
    .masthead-heading {
        font-size: 3em;
    }
}

/* container animation */

.container {
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 5s; /* Firefox < 16 */
        -ms-animation: fadein 5s; /* Internet Explorer */
         -o-animation: fadein 5s; /* Opera < 12.1 */
            animation: fadein 5s;
}